@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap");

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;

$font-jost: "Jost", sans-serif;
$font-cormorant: "Cormorant", serif;

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $font-jost;
  color: $green;
}

.header {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 4rem 15px 0 15px;
  align-items: center;
  justify-content: space-between;
  &__nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    gap: 4.8rem;
  }
  &__link {
    color: $green;
    text-decoration: none;
    transition: color 0.4s;
    &:hover {
      color: $orange;
    }
  }
  &__tel {
    color: $green;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.4s;
    &:hover {
      color: $orange;
    }
  }
  &__cart {
    display: block;
    width: 3.8rem;
    height: 3.8rem;
    border: 1px solid $orange;
    background-color: $orange;
    background-image: url(../images/Cart.svg);
    background-position: center center;
    background-size: 1.7rem 1.5rem;
    background-repeat: no-repeat;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background-color: $green;
      border-color: $green;
    }
  }
  &__counter {
    color: $white;
    position: absolute;
    font-size: 0.8rem;
    right: 9px;
    top: 5px;
  }
}

.logo {
  display: block;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 3.2rem;
  width: 12.3rem;
}

.container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  background-image: url(../images/main.png);
  background-size: cover;
  &__item {
    margin-left: 12rem;
    max-width: 378px;
    margin-top: 6rem;
  }
  &__link {
    margin-top: 6rem;
  }
}

.title {
  margin: 0;
  font-family: $font-cormorant;
  font-weight: 700;
  font-size: 80px;
  &_block {
    & .title__span {
      display: block;
    }
  }
  &__span {
    font-style: italic;
  }
}

.description {
  margin: 0;
  &_size_s {
    font-size: 18px;
  }
}

.link {
  color: $white;
  background-color: $orange;
  text-transform: uppercase;
  padding: 2.5rem 4.2rem;
  box-shadow: 0px 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
  text-decoration: none;
  border-radius: 3.8rem;
  display: inline-block;
}
